Repository w3c/svgwg, pull requests merged in 2018-08, with the labels that each got.

#512 remove dangling mention of SolidColor from chapter title
  master/pservers.html
Labels: Paint Servers chapter

#516 Issue 324
  master/changes.html
  master/implnote.html
Labels: Appendices

#521 Clean-up Changes appendix
  master/changes.html
Labels: Appendices

#524 Build & local dev fixes
  master/Overview.html
  master/access.html
  master/animate.html
  master/attindex.html
  master/changes.html
  master/conform.html
  master/coords.html
  master/definitions.xml
  master/eltindex.html
  master/embedded.html
  master/geometry.html
  master/idl.html
  master/idlindex.html
  master/implnote.html
  master/interact.html
  master/intro.html
  master/linking.html
  master/mimereg.html
  master/painting.html
  master/paths.html
  master/propidx.html
  master/pservers.html
  master/publish.xml
  master/refs.html
  master/render.html
  master/shapes.html
  master/struct.html
  master/style/base.css
  master/style/load-mathjax.js
  master/style/svg.css
  master/styling.html
  master/svgdom.html
  master/text.html
  master/types.html
  specs/animations/master/style/load-mathjax.js
  specs/integration/master/style/load-mathjax.js
  specs/markers/master/style/load-mathjax.js
  specs/paths/master/style/load-mathjax.js
  specs/strokes/master/style/load-mathjax.js
  specs/template/master/style/load-mathjax.js
  tools/publish/processing.js
  tools/publish/publish.js
Labels: SVG2, Tools
